---
http_interactions:
- request:
    method: post
    uri: "[host]/api/v1/links"
    body:
      encoding: UTF-8
      string: '{"destination_url":"https://markonsoftware.com"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer [api_token]
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"6bd84f0379eb7ff09b0c657c7cc9d72d"
    body:
      encoding: UTF-8
      string: '{"link":{"id":95,"destination_url":"https://markonsoftware.com","name":"https://markonsoftware.com","slug":"vMPnM","created_at":"2020-09-05T17:24:16.756Z","updated_at":"2020-09-05T17:24:16.756Z","custom_domain_id":null,"user_id":21,"redirect_url":"[host]/vMPnM"}}'
  recorded_at: Sat, 05 Sep 2020 17:24:16 GMT
recorded_with: VCR 3.0.3
