---
http_interactions:
- request:
    method: post
    uri: "[host]/api/v1/links"
    body:
      encoding: UTF-8
      string: '{"destination_url":"https://markonsoftware.com","name":"markonsoftware","slug":"markweb"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer [api_token]
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"e580676d8bf8fc6a4e2fd9193a33e7b4"
    body:
      encoding: UTF-8
      string: '{"link":{"id":97,"destination_url":"https://markonsoftware.com","name":"markonsoftware","slug":"markweb","created_at":"2020-09-05T20:21:32.473Z","updated_at":"2020-09-05T20:21:32.473Z","custom_domain_id":null,"user_id":21,"redirect_url":"[host]/markweb"}}'
  recorded_at: Sat, 05 Sep 2020 20:21:32 GMT
recorded_with: VCR 3.0.3
