---
http_interactions:
- request:
    method: post
    uri: "[host]/api/v1/links"
    body:
      encoding: UTF-8
      string: '{"destination_url":"https://markonsoftware.com","name":"markonsoftware"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer [api_token]
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"48374e110dde77b092554953b66183cc"
    body:
      encoding: UTF-8
      string: '{"link":{"id":98,"destination_url":"https://markonsoftware.com","name":"markonsoftware","slug":"ntUQj","created_at":"2020-09-05T20:39:07.373Z","updated_at":"2020-09-05T20:39:07.373Z","custom_domain_id":null,"user_id":21,"redirect_url":"[host]/ntUQj"}}'
  recorded_at: Sat, 05 Sep 2020 20:39:07 GMT
recorded_with: VCR 3.0.3
